* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 1200px;
  margin: 0 auto;
}
header {
  background-color: antiquewhite;
  text-align: center;
  padding: 32px 0;
}
h1 {
  font-size: 48px;
  text-transform: capitalize;
}
